@import 'tailwindcss';
@import '@null-kit/ui/all';

@theme {
  --chroma: 0.007;
  --hue: 280;

  --color-newton: oklch(97% var(--chroma) var(--hue));
  --color-darwin: oklch(100% 0 var(--hue));
  --color-edison: oklch(88% var(--chroma) var(--hue));
  --color-surface: oklch(5% var(--chroma) var(--hue));

  --color-accent: var(--color-violet-700);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :is(.dark, .inverted) {
    color: var(--color-surface);

    --chroma: 0.02;

    --color-newton: oklch(21% var(--chroma) var(--hue));
    --color-darwin: oklch(24% var(--chroma) var(--hue));
    --color-edison: oklch(32% var(--chroma) var(--hue));
    --color-surface: oklch(95% var(--chroma) var(--hue));

    --color-accent: var(--color-violet-500);
  }

  :is(.dark) .inverted {
    --color-newton: oklch(97% var(--chroma) var(--hue));
    --color-darwin: oklch(100% 0 var(--hue));
    --color-edison: oklch(88% var(--chroma) var(--hue));
    --color-surface: oklch(5% var(--chroma) var(--hue));
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  input[type='number'] {
    appearance: textfield;
  }

  :is(:root, body) {
    @apply bg-darwin text-surface overscroll-none antialiased;
  }

  :root {
    view-transition-name: switch-theme;
  }

  ::view-transition-old(switch-theme) {
    animation: 1s linear both switch-theme;
    z-index: 10;
  }

  ::view-transition-new(switch-theme) {
    z-index: 9;
  }

  @keyframes switch-theme {
    from {
      clip-path: circle(200% at 100% 100%);
    }

    to {
      clip-path: circle(0% at 0% 100%);
    }
  }
}
