@import 'tailwindcss';
@import '@nuxt/ui';
@import '@null-kit/ui/all.css';

@theme {
  --color-newton: var(--color-dn-50);
  --color-darwin: var(--color-white);
  --color-edison: var(--color-dn-200);
  --color-surface: var(--color-dn-900);

  --color-accent: var(--color-dp-500);
}

@layer theme {
  :root {
    @apply overscroll-none;

    --hue: 0;
    --chroma: 0;

    --color-dn-50: oklch(98% var(--hue) var(--chroma));
    --color-dn-100: oklch(95% var(--hue) var(--chroma));
    --color-dn-200: oklch(92% var(--hue) var(--chroma));
    --color-dn-300: oklch(85% var(--hue) var(--chroma));
    --color-dn-400: oklch(68% var(--hue) var(--chroma));
    --color-dn-500: oklch(53% var(--hue) var(--chroma));
    --color-dn-600: oklch(41% var(--hue) var(--chroma));
    --color-dn-700: oklch(35% var(--hue) var(--chroma));
    --color-dn-800: oklch(24% var(--hue) var(--chroma));
    --color-dn-900: oklch(18% var(--hue) var(--chroma));
    --color-dn-950: oklch(14% var(--hue) var(--chroma));

    --color-dp-400: oklch(80% 1 120);
    --color-dp-500: oklch(60% 1 120);
  }

  /*  */

  :is(.dark, .inverted) {
    color: var(--color-surface);

    --color-newton: var(--color-dn-500);
    --color-darwin: var(--color-dn-900);
    --color-edison: var(--color-dn-700);
    --color-surface: var(--color-dn-50);
  }

  /* :is(.dark) .inverted {
    --color-newton: var(--color-dn-600);
    --color-darwin: oklch(100% 0 var(--hue1));
    --color-edison: oklch(88% var(--chroma1) var(--hue1));
    --color-surface: oklch(5% var(--chroma1) var(--hue1));
  } */
}
