@source '../../components';
@source '../../composables';

@utility bg-tint-* {
  background-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility bg-shade-* {
  background-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

@utility scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-edison) transparent;
  overscroll-behavior: none auto;

  &::-webkit-scrollbar {
    @apply size-2;
  }
}
