@layer components {
  .btn-group {
    @apply scrollbar isolate flex scrollbar-thin overflow-auto;
    @apply bg-darwin-subtle rounded-lg shadow;

    &:not(:has(.btn-accent)) {
      @apply ring-edison hover:ring-surface/20 ring;
      @apply divide-edison divide-x hover:divide-current/20;
    }

    &:has(.btn-accent, .btn-main) {
      @apply divide-x divide-current/20;
    }

    &:has(.btn-xs) {
      @apply rounded-sm;
    }

    &:has(.btn-sm) {
      @apply rounded-md;
    }

    &:has(.btn-xl) {
      @apply rounded-xl;
    }

    .btn {
      @apply rounded-none! shadow-none! ring-0!;
      @apply active:scale-100!;
    }
  }
}

@utility btn {
  @apply inline-flex items-center justify-center;
  @apply relative isolate whitespace-nowrap;
  @apply font-medium ring ring-transparent duration-150 outline-none;
  @apply not-disabled:hover:bg-current/5 not-disabled:active:bg-current/10;

  min-height: var(--app-control-h);
  padding-block: 0;
  padding-inline: var(--app-control-px-label);
  gap: var(--app-control-gap);
  font-size: var(--app-control-text);
  line-height: 1.1;
  border-radius: var(--app-control-radius);

  &:not(.btn-pending) {
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }
}

@utility btn-xs {
  @apply app-control-xs;
}

@utility btn-sm {
  @apply app-control-sm;
}

@utility btn-md {
  @apply app-control-md;
}

@utility btn-lg {
  @apply app-control-lg;
}

@utility btn-xl {
  @apply app-control-xl;
}

@utility btn-default {
  @apply bg-darwin-subtle text-surface ring-edison shadow;
  @apply not-disabled:active:bg-shade-darwin/8;

  &:not(:disabled):not(:active) {
    @apply hover:ring-surface/20;
    @apply hover:bg-shade-darwin/5 dark:hover:bg-tint-darwin;
  }
}

@utility btn-main {
  @apply text-newton bg-surface ring-surface;
  @apply not-disabled:hover:bg-tint-surface not-disabled:active:bg-tint-surface/15;
  @apply dark:not-disabled:hover:bg-shade-surface dark:not-disabled:active:bg-shade-surface/15;
}

@utility btn-accent {
  @apply bg-accent ring-accent text-white;
  @apply not-disabled:hover:bg-tint-accent not-disabled:active:bg-tint-accent/15;
}

@utility btn-danger {
  @apply bg-red-500 text-white ring-red-500;
  @apply not-disabled:hover:bg-red-400 not-disabled:active:bg-red-500;
}

@utility btn-success {
  @apply bg-green-600 text-white ring-green-600;
  @apply not-disabled:hover:bg-green-500 not-disabled:active:bg-green-600;
}

@utility btn-active {
  @apply bg-accent/10 text-accent;
  @apply not-disabled:hover:bg-accent/15 not-disabled:active:bg-accent/20;
}

:is(.btn-main, .btn-accent, .btn-danger, .btn-success) {
  @apply shadow inset-shadow-xs inset-shadow-white/20;
  @apply not-disabled:active:scale-98;
}

@utility btn-pending {
  @apply is-pending;
}
