@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2;
    @apply min-h-8.5 px-3 py-2 duration-200 outline-none;
    @apply relative isolate overflow-clip whitespace-nowrap;
    @apply rounded-lg text-sm/none font-medium ring ring-transparent;

    &:not(.btn-pending) {
      @apply disabled:cursor-not-allowed disabled:opacity-50;
    }

    &:not(:disabled) {
      @apply hover:bg-surface/5 active:bg-surface/10;
    }
  }
}

@utility btn-sm {
  @apply min-h-6 rounded-md px-2 py-1 text-[0.8125rem];
}

@utility btn-md {
  @apply min-h-10;
}

@utility btn-lg {
  @apply min-h-12 rounded-xl px-6 py-3;
}

@utility btn-default {
  @apply bg-darwin text-surface ring-edison shadow;

  &:not(:disabled):not(:active) {
    @apply hover:ring-surface/20;
    @apply hover:bg-shade-darwin/5 dark:hover:bg-tint-darwin/5;
  }
}

@utility btn-main {
  @apply text-newton bg-surface ring-surface;

  &:not(:disabled):not(:active) {
    @apply hover:bg-tint-surface/10 dark:hover:bg-shade-surface/10;
  }
}

@utility btn-accent {
  @apply bg-accent ring-accent text-white;
  @apply not-disabled:not-active:hover:bg-tint-accent/10;
}

@utility btn-danger {
  @apply bg-red-500 text-white ring-red-500;
  @apply not-disabled:not-active:hover:bg-red-400;
}

:is(.btn-main, .btn-accent, .btn-danger) {
  @apply shadow inset-shadow-xs inset-shadow-white/20;
  @apply not-disabled:active:scale-98;
}

@utility btn-pending {
  cursor: progress;
  background-size: 20px 100%;
  background-position: 0 0;
  animation: btn-pending 2s infinite linear forwards;
  background-image: repeating-linear-gradient(
    -75deg,
    --alpha(currentColor / 10%),
    --alpha(currentColor / 10%) 10px,
    transparent 10px,
    transparent 20px
  );
}

@keyframes btn-pending {
  100% {
    background-position: 20px 0;
  }
}

@utility btn-group {
  @apply isolate flex overflow-auto;
  @apply rounded-lg shadow duration-300;
  @apply ring-edison hover:ring-surface/20 bg-darwin ring;
  @apply divide-edison divide-x;

  &:has(.btn-sm) {
    @apply rounded-md;
  }

  &:has(.btn-lg) {
    @apply rounded-xl;
  }

  & > .btn {
    @apply flex-1 rounded-none shadow-none ring-0;
    @apply active:!scale-100;
  }
}
