[class*='unovis-'] {
  --vis-font-family: var(--font-sans);

  --vis-axis-grid-color: var(--color-edison);
  --vis-axis-tick-color: var(--color-edison);
  --vis-axis-tick-label-color: var(--color-surface);

  --vis-tooltip-padding: 0;
  --vis-tooltip-text-color: var(--color-surface);
  --vis-tooltip-border-radius: var(--radius-lg);
  --vis-tooltip-box-shadow: var(--shadow-md);
  --vis-tooltip-border-color: var(--color-edison);
  --vis-tooltip-background-color: var(--color-darwin);

  --vis-donut-central-label-font-size: var(--text-xl);
  --vis-donut-central-label-text-color: var(--color-surface);
  --vis-donut-central-sub-label-font-size: var(--text-sm);
  --vis-donut-central-sub-label-text-color: --alpha(var(--color-surface) / 0.4);

  --chart-color-0: var(--color-accent);
  --chart-color-1: var(--color-indigo-500);
  --chart-color-2: var(--color-orange-500);
  --chart-color-3: var(--color-violet-500);
  --chart-color-4: var(--color-pink-500);
  --chart-color-5: var(--color-yellow-500);
  --chart-color-6: var(--color-purple-500);
  --chart-color-7: var(--color-red-500);
  --chart-color-8: var(--color-blue-500);
  --chart-color-9: var(--color-cyan-500);
  --chart-color-10: var(--color-emerald-500);
}
