/* Input */
@utility form-input {
  @apply appearance-none transition duration-200 outline-none;
  @apply size-full max-h-80 min-h-8.5 px-2.5 py-1.5;
  @apply rounded-lg text-sm font-medium;
  @apply ring-edison bg-darwin shadow ring;
  @apply placeholder:text-surface/30;
  @apply focus:ring-accent has-focus:ring-accent hover:ring-surface/20;

  &:disabled {
    @apply text-surface/40 cursor-not-allowed;
    @apply bg-tint-edison/50 dark:bg-shade-edison/15;
  }
}

@utility form-slot {
  @apply bg-darwin ring-edison min-h-full ring;
  @apply flex shrink-0 overflow-clip rounded-lg text-sm shadow;

  &:disabled {
    @apply text-surface/40 cursor-not-allowed;
    @apply bg-tint-edison/50 dark:bg-shade-edison/15;
  }
}

@utility form-validate {
  @apply bg-surface text-newton pointer-events-none rounded-md text-xs font-medium shadow;
  @apply absolute top-full left-2.5 -mt-2 px-2 py-0.5;
}

@layer components {
  .form-label {
    @apply inline-flex items-center gap-1 text-[0.8125rem] font-medium opacity-80;
    @apply mb-1.5 cursor-default select-none;
  }

  .form-required {
    @apply -mt-2 size-1 rounded-full bg-red-600 shadow;
  }

  .form-required-floating {
    @apply absolute top-1.5 right-1.5 size-1 rounded-full bg-red-600 shadow;
  }

  .form-help {
    @apply mt-1.5 text-xs opacity-40 duration-200 hover:opacity-100;
  }

  /* Checkbox */
  .form-check {
    @apply cursor-pointer appearance-none duration-200;
    @apply bg-darwin ring-edison size-5 ring;
    @apply indeterminate:ring-accent checked:ring-accent not-disabled:shadow;
    @apply disabled:bg-edison/20 disabled:not-checked:ring-edison disabled:cursor-not-allowed;

    @apply [&~svg]:text-accent;

    &[type='radio'] {
      @apply rounded-full;
    }

    &[type='checkbox'] {
      @apply rounded-md;
    }

    &[aria-label='switch'] {
      @apply checked:bg-accent h-6 w-11 rounded-full;
    }
  }

  .form-switch {
    @apply absolute inset-0.5 size-5;
    @apply bg-edison rounded-full duration-200;
    @apply peer-checked:bg-darwin peer-checked:translate-x-full;
  }
}

@layer base {
  input:is(:-webkit-autofill, :autofill) {
    @apply inset-shadow-darwin inset-shadow-[0_20rem_0];
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  input[type='number'] {
    appearance: textfield;
  }
}
