@layer components {
  .modal-content {
    @apply outline-newton outline-6;
    @apply bg-newton rounded-2xl shadow-lg;
    @apply border-edison border;
  }

  .modal-motion {
    transform: perspective(1000px) translateZ(-40px) rotateX(6deg) rotateY(6deg);
    @apply blur-xs;
  }
}
