@utility bg-polka {
  background-image:
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px),
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px);
  background-size: 18px 18px;
  background-position:
    0 0,
    9px 9px;
}

@utility bg-graph-dot {
  background-image:
    radial-gradient(circle, --alpha(var(--color-surface) / 10%) 1px, transparent 1px),
    radial-gradient(circle, --alpha(var(--color-surface) / 10%) 1px, transparent 1px);
  background-size:
    5px 20px,
    20px 5px;
  background-position:
    -2.5px -10px,
    -10px -2.5px;
}

@utility bg-dot-* {
  background-image: radial-gradient(circle at 2px 2px, --alpha(var(--color-surface) / 15%) 1px, transparent 0);
  background-size: calc(--value(integer, --default(12)) * 1px) calc(--value(integer, --default(12)) * 1px);
  background-position: calc((--value(integer, --default(12)) / 3) * 1px)
    calc((--value(integer, --default(12)) / 3) * 1px);
}

@utility bg-diagonal-* {
  background-image: repeating-linear-gradient(
    -45deg,
    --alpha(var(--color-surface) / 10%),
    --alpha(var(--color-surface) / 10%) 1px,
    transparent 1px,
    transparent calc(--value(integer, --default(12)) * 1px)
  );
}
