@utility select-input {
  @apply form-input;
  @apply flex gap-1.5 text-ellipsis;
  @apply scrollbar relative overflow-auto;

  &:has(.select-multiple) {
    @apply p-1 pr-2.5;
    --radius-md: var(--radius-sm);
  }
}

@utility select-group-label {
  @apply sticky top-0 z-1 px-3 py-1;
  @apply text-surface/40 bg-newton rounded-md font-medium;
}

@utility select-multiple {
  @apply flex flex-wrap items-center gap-1.5;
}

@utility select-options {
  @apply min-w-40 shrink-0 p-1;
  @apply flex flex-col gap-0.5;
  @apply whitespace-nowrap;
}
