@plugin '../../utils/tint-shade.ts';
@source '../../components';
@source '../../composables';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant inverted (&:where(.inverted, .inverted *));

@theme {
  /* TODO: Timed fallback */
  --color-newton-strong: var(--color-newton);
  --color-newton-subtle: var(--color-newton);
  --color-darwin-strong: var(--color-darwin);
  --color-darwin-subtle: var(--color-darwin);
  --color-edison-strong: var(--color-edison);
  --color-edison-subtle: var(--color-edison);

  --animate-shake-x: animate-shake-x 0.1s ease-out 2;
}

/* Scrollbar Utility */
@utility scrollbar {
  scrollbar-width: var(--scrollbar-width, auto);
  scrollbar-color: --alpha(var(--color-surface) / 30%) --alpha(var(--color-surface) / 5%);
  overscroll-behavior: none auto;

  &:hover {
    scrollbar-color: --alpha(var(--color-surface) / 50%) --alpha(var(--color-surface) / 5%);
  }
}

@utility scrollbar-thin {
  --scrollbar-width: thin;
}

[data-text-shimmer]:before {
  content: attr(data-text-shimmer);
  mask-size: 400% 100%;
  mask-position: 100% 0;
  mask-repeat: no-repeat;
  mask-image: linear-gradient(
    90deg,
    --alpha(currentColor / 60%) 0%,
    --alpha(currentColor / 60%) 40%,
    currentColor 50%,
    --alpha(currentColor / 60%) 60%,
    --alpha(currentColor / 60%) 100%
  );
  animation: animate-text-shimmer 1.5s ease infinite;
}

@keyframes animate-shake-x {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

@keyframes animate-text-shimmer {
  to {
    mask-position: 0 0;
  }
}
