@import 'tint-shade';
@source '../../components';
@source '../../composables';

/* Scrollbar Utility */
@utility scrollbar {
  scrollbar-width: var(--scrollbar-width, auto);
  scrollbar-color: --alpha(var(--color-surface) / 30%) --alpha(var(--color-surface) / 5%);
  overscroll-behavior: none auto;

  &:hover {
    scrollbar-color: --alpha(var(--color-surface) / 50%) --alpha(var(--color-surface) / 5%);
  }
}

@utility scrollbar-thin {
  --scrollbar-width: thin;
}

/* Background Patterns */
@utility bg-polka {
  background-image:
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px),
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px);
  background-size: 18px 18px;
  background-position:
    0 0,
    9px 9px;
}

@utility bg-dot {
  background-image: radial-gradient(circle at 2px 2px, --alpha(var(--color-surface) / 10%) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: 7px 7px;
}

@utility bg-diagonal {
  background-image: repeating-linear-gradient(
    -45deg,
    --alpha(var(--color-surface) / 10%),
    --alpha(var(--color-surface) / 10%) 1px,
    transparent 1px,
    transparent 14px
  );
}
