@plugin '../../utils/tint-shade.ts';
@source '../../components';
@source '../../composables';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant inverted (&:where(.inverted, .inverted *));

@theme {
  /* TODO: Timed fallback */
  --color-newton-strong: var(--color-newton);
  --color-newton-subtle: var(--color-newton);
  --color-darwin-strong: var(--color-darwin);
  --color-darwin-subtle: var(--color-darwin);
  --color-edison-strong: var(--color-edison);
  --color-edison-subtle: var(--color-edison);

  --animate-shake-x: animate-shake-x 0.1s ease-out 2;
}

/* Scrollbar Utility */
@utility scrollbar {
  scrollbar-width: var(--scrollbar-width, auto);
  scrollbar-color: --alpha(var(--color-surface) / 30%) --alpha(var(--color-surface) / 5%);
  overscroll-behavior: none auto;

  &:hover {
    scrollbar-color: --alpha(var(--color-surface) / 50%) --alpha(var(--color-surface) / 5%);
  }
}

@utility scrollbar-thin {
  --scrollbar-width: thin;
}

/* Background Patterns */
@utility bg-polka {
  background-image:
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px),
    radial-gradient(--alpha(var(--color-surface) / 10%) 1px, transparent 1px);
  background-size: 18px 18px;
  background-position:
    0 0,
    9px 9px;
}

@utility bg-dot {
  background-image: radial-gradient(circle at 2px 2px, --alpha(var(--color-surface) / 10%) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: 7px 7px;
}

@utility bg-diagonal {
  background-image: repeating-linear-gradient(
    -45deg,
    --alpha(var(--color-surface) / 10%),
    --alpha(var(--color-surface) / 10%) 1px,
    transparent 1px,
    transparent 14px
  );
}

[data-text-shimmer] {
  @apply relative inline-block text-current/60;

  &:empty:after {
    content: attr(data-text-shimmer);
  }

  &:before {
    @apply pointer-events-none absolute inset-0 text-transparent;
    @apply bg-size-[400%_100%] bg-clip-text bg-position-[100%_0] bg-no-repeat;
    content: attr(data-text-shimmer);
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 40%,
      var(--color-surface) 50%,
      transparent 60%,
      transparent 100%
    );
    animation: animate-text-shimmer 1.5s linear infinite;
  }
}

@keyframes animate-shake-x {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

@keyframes animate-text-shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0% 0;
  }
}
