@layer components {
  .table-default {
    @apply text-sm whitespace-nowrap;
    @apply border-separate border-spacing-0;

    thead {
      @apply bg-darwin text-left font-semibold select-none;
    }

    th[aria-sort] {
      @apply cursor-pointer transition-colors;
      @apply hover:bg-shade-darwin/4 dark:hover:bg-shade-darwin/10;
    }

    tr {
      @apply divide-edison divide-x;

      &:hover td {
        @apply bg-tint-edison/30 dark:bg-shade-edison/40;
      }

      &[aria-expanded] td,
      [aria-expanded] {
        @apply bg-tint-edison/35 dark:bg-shade-edison/40;
      }

      &[data-row='odd']:not(:hover):not([aria-expanded]) {
        td:not([aria-expanded]) {
          @apply bg-tint-edison/60 dark:bg-shade-edison/40;
        }
      }

      &:not([aria-hidden]):not(:has(+ tr:not([aria-hidden]))) > td {
        @apply border-b-0;
      }
    }

    :is(th, td) {
      @apply bg-darwin border-edison border-b px-3 py-2;

      &[data-cell='expander'] {
        @apply px-1.5 py-0;
      }
    }

    tfoot {
      @apply font-semibold;

      tr td {
        @apply border-edison border-t;
      }
    }
  }
}
@utility table-striped {
  tr:nth-child(even) {
    td {
      @apply bg-shade-darwin/4 dark:bg-shade-darwin/10;
    }

    &:hover td {
      @apply bg-shade-darwin/6 dark:bg-shade-darwin/20;
    }
  }
}
