@utility table-default {
  @apply text-sm whitespace-nowrap;
  @apply border-separate border-spacing-0;

  tr {
    @apply divide-edison divide-x;

    &:not([aria-hidden]):not(:has(+ tr:not([aria-hidden]))) > td {
      @apply border-b-0;
    }

    &:hover td {
      @apply bg-shade-darwin/6 dark:bg-shade-darwin/12;
    }
  }

  thead {
    @apply bg-darwin text-left font-semibold select-none;
  }

  tfoot {
    @apply font-semibold select-none;

    tr td {
      @apply border-edison border-t;
    }
  }

  th,
  td {
    @apply bg-darwin border-edison border-b px-3 py-2 transition-colors;
    @apply aria-expanded:bg-shade-darwin/4 dark:aria-expanded:bg-shade-darwin/10;

    &[aria-expanded] {
      @apply px-2;
    }
  }

  th[aria-sort] {
    @apply cursor-pointer duration-200;
    @apply hover:text-accent hover:bg-shade-darwin/4 dark:hover:bg-shade-darwin/10;
  }
}

@utility table-striped {
  tr:nth-child(even) {
    td {
      @apply bg-shade-darwin/4 dark:bg-shade-darwin/10;
    }

    &:hover td {
      @apply bg-shade-darwin/6 dark:bg-shade-darwin/20;
    }
  }
}
