/* Background tint/shade utils */
@utility bg-tint-* {
  background-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility bg-shade-* {
  background-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

/* all */
@utility border-tint-* {
  border-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility border-shade-* {
  border-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

/* r */
@utility border-r-tint-* {
  border-right-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility border-r-shade-* {
  border-right-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

/* l */
@utility border-l-tint-* {
  border-left-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility border-l-shade-* {
  border-left-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

/* t */
@utility border-t-tint-* {
  border-top-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility border-t-shade-* {
  border-top-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}

/* b */
@utility border-b-tint-* {
  border-bottom-color: color-mix(in oklab, --value(--color-*, [*]), #fff calc(--modifier(integer) * 1%));
}

@utility border-b-shade-* {
  border-bottom-color: color-mix(in oklab, --value(--color-*, [*]), #000 calc(--modifier(integer) * 1%));
}
