@layer components {
  .toast {
    @apply bg-darwin rounded-2xl shadow-lg;
    @apply max-w-md gap-1 p-1 text-sm;
  }

  .toast-status {
    @apply flex w-full items-center rounded-xl;
    @apply px-2 py-1;
    @apply relative isolate overflow-clip;
  }

  .toast-timer {
    @apply absolute top-0 left-0 size-full;
    @apply origin-left bg-white/20;
    transform: scaleX(0);

    .toast:not(:hover) & {
      animation: toast-timer 3s linear forwards;
    }

    .toast:hover & {
      animation-play-state: paused;
    }
  }
}

@keyframes toast-timer {
  to {
    transform: scaleX(1);
  }
}
